<h1>Invoices</h1>

<table class="table">
  <tr>
    <th>Account</th>
    <th>Issued date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.account.name %></td>
    <td><%= invoice.issued_date.to_time.strftime("%m/%d/%Y") %></td>
    <td>
      <%= link_to(invoice_path(invoice)) do %>
          <i class="icon-file"></i>
          <% end %>
    </td>
    <td>
      <%= link_to(edit_invoice_path(invoice)) do %>
          <i class="icon-pencil"></i>
      <% end %>
    </td>
    <td>
      <% unless invoice.issued %>
          <%= link_to(invoice, method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <i class="icon-trash"></i>
          <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>
