<div class="span9 offset1">
  <p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
  <div class="span8">
      <h3>Matt Cullerton</h3>
      <p>1026 Glen Arbor Dr, Encinitas, CA 92024</p>
      <p>Phone: 703-795-1529</p>
      <p>To: <%= @invoice.account.contact_name %></p>
      <p><%= @invoice.account.name %></p>
      <p><%= @invoice.account.contact_email %></p>
  </div>
  <div class="span3">
      <h1 class="muted">INVOICE</h1>
      <p>Invoice #<%= @invoice.id %></p>
      <p>Make all checks payable to Matt Cullerton</p>
  </div>


  <table class="table table-bordered">
    <tr>
      <th>Description</th>
      <th>Hours</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
    <% @invoice.time_entries.each do |time_entry| %>
        <tr>
          <td><%= time_entry.description %></td>
          <td><%= time_entry.hours %></td>
          <td><%= time_entry.date.to_time.strftime("%m/%d/%Y") %></td>
          <td>$<%= time_entry.hours * time_entry.account.rate %></td>
        </tr>
    <% end %>
    <tr>
       <td colspan="3">Total:</td>
       <td>$<%= @invoice.time_entries.sum(:hours) * @invoice.account.rate  %></td>
    </tr>
    </table>
</div>
<div class="span2">
  <a href="/invoices/<%= @invoice.id %>.pdf" /><button class="btn btn-large btn-info" type="button">Download Invoice</button></a>
 </div>