<!DOCTYPE html>
<html>
<head>
  <title>Timesystem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
      body {
          padding-top: 60px;
          padding-bottom: 60px;
          background-color: #f5f5f5;
      }
      .hide {
          display: none;
      }
  </style>
</head>
<body>
<%= render 'application/header' %>
<div class="container-fluid">
  <div class="row-fluid">
    <%= yield %>
  </div>
</div>


</body>
</html>
