<div class="span8 offset1 well">
  <p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
  <h1>New account</h1>

  <%= render 'form' %>
</div>
<div class="span3">
  <div class="sidebar-nav sidebar-nav-fixed">
    <ul class="nav nav-list well" style="padding-top:0px; ">
      <li class="nav-header btn-success" style="color:white; text-align: center;">Time.io Statistics</li>
      <%= render 'application/stats' %>
      </li>
      <li class="nav-header btn-success" style="color:white; text-align: center;">Accounts</li>
      <% @accounts.each do |account| %>
          <li><%= link_to account.name, account_path(account) %></li>
      <% end %>
      <li class="nav-header btn-success" style="color:white; text-align: center;">Invoices</li>
      <% @invoices.each do |invoice| %>
          <li><%= link_to "#{invoice.created_at.strftime("%m/%d/%Y")} #{invoice.account.name} Invoice", invoice_path(invoice) %></li>
      <% end %>
    </ul>
  </div>
  <div id="action-tab" class="hide">
    <button type="submit" class="btn btn-primary span12" form="new_invoice"><i class="icon-file"></i>Create Invoice</button>
  </div>
</div>
